global
        log stdout format raw local0 debug

        maxconn 4096

        daemon

defaults
        log  global
        mode http

        option httplog

        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

frontend http_proxy
        bind *:80

        acl path_api path_beg /api
        acl host_matomo_finmonopolet hdr(host) -i matomo.finmonopolet.no
        acl host_matomo_stalltipset hdr(host) -i matomo.stalltipset.no
        acl host_finmonopolet hdr(host) -i finmonopolet.no

        use_backend backend_matomo if host_matomo_finmonopolet || host_matomo_stalltipset
        use_backend backend_finmonopolet_frontend if host_finmonopolet !path_api
        use_backend backend_finmonopolet_api if host_finmonopolet path_api

        default_backend backend_matomo

backend backend_matomo
        option forwardfor
        option http-server-close

        server server_matomo 188.166.194.196:8080

backend backend_finmonopolet_frontend
        option forwardfor
        option http-server-close

        server server_finmonopolet 188.166.194.196:8081

backend backend_finmonopolet_api
        option forwardfor
        option http-server-close

        server server_finmonopolet 188.166.194.196:8082
